#menu {
    position: fixed;
    top: 0;
    right: 20px;
    width: 100%;
    z-index: 70;
}

#menu li {
    display: inline-block;
    margin: 0 10px;
    text-align: right;
}

#menu li a {
    text-decoration: none;
    color: #000;
}

ol, ul {
    list-style: none;
}

ul {
    display: block;
    text-align: right;
}

.section {
    text-align: center;
}

.section .title {
    font-weight: normal;
    font-size: 4em;
    color: #ffffff;
}