#menu {
    position: fixed;
    top: 0;
    right: 20px;
    width: 100%;
    z-index: 70;
}

#menu li {
    display: inline-block;
    margin: 0 10px;
    text-align: right;
}

#menu li a {
    text-decoration: none;
    color: #000;
}

ol, ul {
    list-style: none;
}

ul {
    display: block;
    text-align: right;
}

.section {
    text-align: center;
}

.section .title {
    font-weight: normal;
    font-size: 4em;
    color: #ffffff;
}

#cv {
    height: 100%;
}

#download {
    margin: 10px auto;
    padding: 15px 16px;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 25%);
    border-radius: 6px;
    width: fit-content;
    cursor: pointer;
    background-image: -webkit-gradient(linear,0 0,0 100%,from( #5bc0de),to( #2f96b4));
}

#download a {
    text-decoration: none;
    color: #fff;
}